        .fl {
            float: left;
        }
        
        .fr {
            float: right;
        }
        
        .w {
            width: 1200px;
            margin: 0 auto;
        }
        
        .red-color {
            color: rgb(206, 46, 46);
        }
        
        .spacer {
            width: 1px;
            height: 12px;
            background-color: #666;
            margin: 9px 14px 0;
        }
        /* 顶部快捷导航 */
        
        .shortcut {
            height: 31px;
            background-color: #f1f1;
            line-height: 31px;
        }
        
        .shortcut li {
            float: left;
        }
        /* header区域 */
        
        .header {
            height: 105px;
            /* background-color: pink; */
            position: relative;
        }
        
        .logo {
            position: absolute;
            top: 17px;
            left: 0;
            width: 70px;
            height: 70px;
            /* background-color: tomato; */
        }
        
        .logo a {
            display: block;
            width: 70px;
            height: 70px;
            background: url(../img/复仇者联盟-钢铁侠.png) no-repeat;
            background-size: contain;
            /* text-indent: -200em; */
            overflow: hidden;
            font-size: 0;
        }
        
        .search {
            position: absolute;
            top: 27px;
            left: 348px;
            height: 32px;
            width: 455px;
            /* background-color: tomato; */
        }
        
        .text {
            width: 359px;
            height: 32px;
            border: 2px solid #e30d18;
            padding-left: 10px;
            float: left;
        }
        
        .btn {
            width: 82px;
            height: 36px;
            background-color: #e30d18;
            color: white;
            border: 0;
            float: left;
            font-size: 16px;
        }
        
        .hotwords {
            position: absolute;
            top: 68px;
            left: 348px;
        }
        
        .hotwords a {
            margin: 0 11px;
        }
        
        .shopcar {
            width: 128px;
            height: 34px;
            top: 28px;
            right: 64px;
            position: absolute;
            border: 1px solid #dfdfdf;
            background-color: #ffffff;
            line-height: 34px;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
        }
        
        .car {
            margin-right: 5px;
            color: #e30d18;
        }
        
        .shopcar .arrow {
            font-size: 12px;
            margin-left: 3px;
        }
        
        .count {
            position: absolute;
            top: -5px;
            left: 100px;
            height: 14px;
            background-color: #e30d18;
            line-height: 14px;
            padding: 0 3px;
            color: white;
            border-radius: 7px 7px 7px 0;
        }
        
        .nav {
            height: 45px;
            border-bottom: 2px solid #e30d18;
        }
        
        .dropdown {
            width: 209px;
            height: 45px;
            background-color: orange;
        }
        
        .dropdown .dt {
            height: 100%;
            background-color: #e30d18;
            color: white;
            text-align: center;
            font-size: 16px;
            line-height: 45px;
        }
        
        .dropdown .dd {
            height: 465px;
            background-color: #c81623;
            margin-top: 2px;
            /* display: none; */
        }
        
        .menu-item:hover {
            padding-left: 20px;
        }
        
        .menu-item {
            height: 31px;
            line-height: 31px;
            margin-left: 2px;
            padding-left: 10px;
            padding-right: 5px;
            margin-top: 2px;
            transition: all 0.5s;
        }
        
        .menu-item a {
            font-size: 14px;
            color: white;
        }
        
        .menu-item i {
            font-size: 13px;
            color: white;
            float: right;
        }
        
        .menu-item:hover {
            background-color: white;
        }
        
        .menu-item:hover a {
            color: #e30d18;
        }
        
        .navitem {
            margin-left: 10px;
        }
        
        .navitem li {
            float: left;
        }
        
        .navitem li a {
            display: block;
            height: 45px;
            line-height: 45px;
            padding: 0 45px;
            font-size: 16px;
        }
        
        .footer {
            height: 386px;
            background-color: #f5f5f5;
            padding-top: 30px;
        }
        
        .mod_service {
            height: 79px;
            border-bottom: 1px solid #ccc;
        }
        
        .mod_service li {
            height: 24px;
            float: left;
        }
        
        .mod-ser-icon {
            width: 50px;
            height: 50px;
            float: left;
            background: url(../img/icons.png) no-repeat;
            margin-left: 55px;
        }
        
        .mod_ser_zheng {
            background-position: -253px -3px;
        }
        
        .mod_ser_tit {
            float: left;
            margin-left: 10px;
        }
        
        .mod_ser_tit h5 {
            margin: 5px 0;
        }
        
        .mod_ser_kuai {
            background-position: -255px -54px;
        }
        
        .mod_ser_wu {
            background-position: -256px -106px;
        }
        
        .mod_ser_te {
            background-position: -258px -157px;
        }
        
        .mod_ser_bang {
            background-position: -257px -208px;
        }
        
        .mod_help {
            height: 187px;
            border-bottom: 1px solid #ccc;
            /* background-color: purple; */
        }
        
        .mod-help-list {
            float: left;
            width: 150px;
            padding: 20px 0 0 50px;
        }
        
        .mod-help-list dt {
            height: 25px;
            font-size: 16px;
        }
        
        .mod-help-list dd {
            height: 22px;
        }
        
        .mod-help-ser dt,
        .mod-help-ser p {
            padding-left: 15px;
        }
        
        .mod-help-ser img {
            margin: 7px;
        }
        
        .mod_copyright {
            text-align: center;
        }
        
        .mod-copy-link {
            margin: 20px 0 5px;
        }